{% extends "baseLogged.html" %}

{% block title %}ABOUT{% endblock %}

{% block main %}
<style>
	p {
		max-width: 900px;
		min-width:200px;
		height:auto;
		position:fixed;

	}
</style>

<h1>About Mission</h1>
<p>
Mission is a one stop platform for people to post and search products, services and venues. You can sell or buy things and venue renting through our platform. You can also post to sell your service and find the service you want on our service list. Mission contributes various people and users to post and use our platform. To be a member by registration, you can visit more details of creators to get their contact information for more cooperation.

</p>


{% endblock %}
		
		